/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
#metadata_metabox input[type=text] {
    margin: 1px;
    padding: 4px;
    width:100%;
}
#metadata_metabox input.required:invalid,
#metadata_metabox textarea.required:invalid{
    border-color: red;
}
.o3po-setting {
    min-width: 80%;
}
